/*==========================================
      base style
===========================================*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	line-height: 1.6;
	margin: auto;
	max-width: 86%;
}

.review {

	width: 100%;
	padding: 0px 0px 0px 26px;
}



.code{
  text-align: center;
  border: 6px solid ;
  text-transform: uppercase;
  background: #000033;
  color: #fff;
  height: 80px;
  margin: auto -48px;

}

.news{
  text-align: center;
  padding: 5px;
	font-size: 28px;
}


.info{
  text-align: center;
  color: grey;
}

hr{
  border: 4px solid;
  margin-bottom: 45px;
	width: 113%;
}
.contact{
	text-align: left;
	font-size: 20px;
	margin: 30px 20px 20px 0em;
}

#line{
	border: none;
	margin-top: 30px;
}

#line2{
	border: none;
}

label  {

	margin: 0px 5px;
}
.email{
	display: block;
	margin: 0px 5px;
}


.phone {
	display: block;
	margin: 0px 5px;
}

#mail{
	background-color: lightgrey;
  width: 108.5%;
	height: 45px;
	border-radius: 5px;
	border: none;
	margin: 5px 0px;
}

#phone{
	background-color: lightgrey;
	width: 108.5%;
	height: 45px;
	border-radius: 5px;
	border: none;
	margin: 5px 0px;
}

.thin {
  border: 2px solid;
  margin: -40px 0px 15px;
	width: 113%;
}

.newline {
	border: 2px solid;
}

.input-blink input{
	padding-left: 15px;
}
#name,
#street,
#city,
#state
 {

  background-color: lightgrey;
  width: 109%;
	height: 45px;
	border-radius: 5px;
	border: none;
	margin: 5px 0px 15px;
}
#zipcode{
	display: block;
	background-color: lightgrey;
	width: 30%;
 height: 45px;
 border-radius: 5px;
 border: none;
 margin: 5px;
}

input[id="name"]::-webkit-input-placeholder {
	text-align: right;
	padding: 25px;
}
input[id="mail"]::-webkit-input-placeholder {
	text-align: right;
	padding: 25px;
}
input[id="state"]::-webkit-input-placeholder{
	padding: 15px;
}


.letter {
	margin-left: 0px;
	font-size: 20px;
  margin-top: 10px;
}

label[for=CodeCheck]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}

label[for=CodeCheck2]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}

label[for=CodeCheck3]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}

label[for=CodeRadio]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}

label[for=CodeRadio2]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}

#comment {
  background-color: lightgrey;
  width: 106%;
	height: 130px;
	border-radius: 5px;
	border: none;
	margin: 3px;
}

.submit{
	display:flex;
	height: 100px;
	width: 107%;
	padding: 0px 0px 0px 0px;
}

.button {
 background-color: #20B2AA;
 font-size: 25px!important;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 5px;
 flex: 2;
}

.copy{
	text-align: center;
	margin: 25px 0px 0px 25px;
	color: grey;
}

/*==========================================
      media query
===========================================*/

@media only screen and (min-width: 768px) {

	.review {
	  height: 100px;
		width: 94%;
		padding: 0px 0px 0px 95px;


	}

	.code{
	  text-align: center;
	  border: 6px solid ;
	  text-transform: uppercase;
	  background: #000033;
	  color: #fff;
	  height: 80px;
	  margin: auto -5.5em ;

	}
	.news{
	  text-align: center;
	  padding: 5px;
		margin-right: -3em;
		font-size: 28px;
	}
	.info{
	  text-align: center;
	  color: grey;
		margin-right: 4em;
	}
	hr {
		border: 4px solid;
		width: 80%;
		margin-left: 7em;
	}
  .thin {
		border: 2px solid;
		width:80%;
		margin: -40px -15px 15px 7em;
	}
	.contact{
		text-align: left;
		font-size: 20px;
		margin: 10px 5em;
		font-weight: bold;
	}

label {
 display: inline-block;
 width: 140px;
 text-align: left;
 margin: 0px 0px 29px 6.5em;
}

label[for=HTML]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}

label[for=CSS]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}

label[for=Javascript]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}

label[for=plain]{
	display: inline-block;
  width: 140px;
  text-align: left;
	margin: 0px 0px 15px 0em;
}
#mail{
	width:60%;
  margin-left: 0em;
}

#phone{
	width:60%;
	margin-left: 0em;
}

#name,
#street,
#city,
#state
 {
 width: 60%;
 margin-left: 0em;
}
#zipcode{
	   display: inline-block;
	   width: 12%;
		 margin-left: 0em;
  }
	p {
		margin-left: 7em;
	}
	.letter{
 		text-align: left;
 		margin: 5px 4.5em;
		font-weight: bold;
 	}
	#line2 {
		margin-top: 26px;
	}
	hr{
	  border: 2px solid;
	  margin-top: 35px;
	}
p{
	margin: 0px 6em;
}

#CodeCheck,
#CodeCheck2,
#CodeCheck3{
	    margin-left: 100px;
 }

#CodeRadio,
#CodeRadio2{
	margin-left: 100px;
}



	#comment {

	  background-color: lightgrey;
	  width: 83%;
		height: 130px;
		border-radius: 5px;
		border: none;
		margin-left: 98px;
	}

	.submit{
		display:flex;
		height: 100px;
		width: 83%;
		margin-left: 98px;
	}

	.button {
	 background-color: #20B2AA;
	 font-size: 25px!important;
	 border: none;
	 color: white;
	 padding: 15px 32px;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 16px;
	 margin: 4px 2px;
	 cursor: pointer;
	 border-radius: 5px;
	 flex: 2;
	}

	.copy{
		text-align: center;
		margin: 25px 0px 0px 25px;
		color: grey;
	}
}
